body {
    background-color: #22222200;
    font-family: 'Roboto', sans-serif;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu {
    display: none;
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(135deg, #1f1f1f, #383838);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    transition: opacity 0.4s ease, transform 0.4s ease;
    transform: translateY(-10px);
}

.menu-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    margin-bottom: 15px;
    color: #5cda9f;
    letter-spacing: 1px;
}

.menu-title i {
    margin-right: 8px;
}

.menu-title span {
    flex-grow: 1;
    text-align: left;
    margin-left: 10px;
}

.menu-info {
    text-align: center;
    font-size: 14px;
    margin-bottom: 15px;
    color: #cccccc;
}

.level-box,
.job-status-box {
    padding: 3px 7px;
    border-radius: 4px;
    font-size: 0.8em;
}

.level-box {
    background-color: #5cda9f;
    color: #ffffff;
}

.job-status-box {
    background-color: #353636;
    color: #ffffff;
}

.menu-item {
    display: flex;
    align-items: center;
    margin-bottom: 6px;  /* Further reduce margin for tighter spacing */
    padding: 6px;  /* Further reduce padding to decrease height */
    background-color: #444;
    border: 1px solid #555;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.menu-item img, .menu-item i {
    width: 28px;  /* Slightly reduce width and height */
    height: 28px;  /* Slightly reduce width and height */
    object-fit: cover;
    margin-right: 8px;  /* Bring the icon and content closer together */
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-item-header {
    font-weight: 500;
    font-size: 1em;
    color: #e2dddd;
    letter-spacing: 0.5px;
    margin-bottom: 1px;  /* Reduce space between header and description */
}

.menu-item-description {
    font-size: 0.8em;
    color: #cccccc;
    margin-top: 1px;  /* Reduce space between header and description */
}

.menu-item:hover {
    background-color: #555;
}

.menu-item i {
    min-width: 24px;
    text-align: center;
}

.progress-bar {
    width: 100%;
    background-color: #555;
    border-radius: 3px;
    overflow: hidden;
    margin-top: 10px;
}

.progress-bar-fill {
    height: 20px;
    background: linear-gradient(to right, #44c767, #44c7a5);
    width: 0%;
}

.xp-info {
    text-align: center;
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: 20px;
    color: #cccccc;
}
